# 忽略系统产生的文件
.DS_Store

# 忽略日志文件
logs/*

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# Python开发相关
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 测试相关
test/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
checkpoints/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

main_test.py
test/

jzx-ai-lab

output_audio

build_speakeinfo.py

CLAUDE.md

models/